  @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Nunito:wght@500&family=Poppins:wght@300&family=Roboto:wght@500;700&family=Source+Code+Pro:ital@1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body,html{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "poppins";
}

.ecommerce{
    font-family: 'Caveat', cursive;

}


/* Loader Overlay */
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(251, 251, 251, 0.8); /* Semi-transparent white overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Make sure it's on top of other elements */
  }
  
  /* Loader */
  .loader {
    border: 1px solid #f3f3f3;
    border-top: 8px solid #000000;
    border-bottom: 8px solid #000000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .paginationBox {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 6vmax ;

  }
  
  /* Pagination Styles */
  .page-item {
    display: inline-block;
    margin-right: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: color 0.5s;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 5px;
  }
  
  .page-item:hover {
    color: #007bff;
    border: 1px solid grey;
    border-radius: 5px;
  }
  
  .page-link {
    text-decoration: none;
    color: inherit;
  }
  
  .pageItemActive {
    color: #007bff;
  }
  
  .pageLinkActive {
    text-decoration: underline;
  }

  .sidebar-item:hover {
    color: tomato;
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
  }
  

